body {
	text-align: center;
	vertical-align: middle;
	font-family: sans-serif;
	display: grid;
	place-items: center;
	background: #000;
	color: #fff;
}

h1 {
	font-size: 50px;
}

p {
	font-size:20px;
}

.btn {
	width: 4rem;
	height: 2rem;
	text-align: center;
	color: #fff;
	background: #0bf;
	border-radius: 1rem;

}

.beside {
	display: flex;
	justify-content: center;
	height: 2rem;
}

.form {
	height: 5rem;
}